body {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
}
.counter {
    background-color: #242424;
    min-width: 8rem;
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

button {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
}